@model Wedding
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Planner</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <h1>@Model.WedderOne and @Model.WedderTwo's Wedding</h1>
        <a asp-controller = "Wedding" asp-action = "Dashboard" class = "Logout">Dashboard</a>
        <form asp-controller = "User" asp-action = "Logout" method = "POST"><button class = "Logout">Logout</button></form>
    </div>
    <div class="info">
        <h3>Date: @Model.Date.ToLongDateString()</h3>
        <h3>Guests:</h3>
        @foreach(Connection guest in Model.Connections)
        {
            if(guest.User != null)
            {
                <p>@guest.User.FullName()</p>
            }
        }
    </div>
</body>
</html>