@model User

<link rel="stylesheet" href="~/css/style.css">

<h3>Register</h3>
<form asp-controller = "User" asp-action = "Register" method = "POST">
    <div>
        <div>
            <label asp-for = "FirstName"></label>
            <input asp-for = "FirstName">
            <span asp-validation-for = "FirstName" class = "validation"></span>
        </div>
    </div>

    <div>
        <label asp-for = "LastName"></label>
        <input asp-for = "LastName">
        <span asp-validation-for = "LastName" class = "validation"></span>
    </div>

    <div>
        <label asp-for = "Email"></label>
        <input asp-for = "Email">
        <span asp-validation-for = "Email" class = "validation"></span>
    </div>

    <div>
        <label asp-for = "Password"></label>
        <input asp-for = "Password">
        <span asp-validation-for = "Password" class = "validation"></span>
    </div>

    <div>
        <label asp-for = "ConfirmPassword"></label>
        <input asp-for = "ConfirmPassword">
        <span asp-validation-for = "ConfirmPassword" class = "validation"></span>
    </div>
    <button>Register</button>
</form>